{% extends 'skelfinal.html' %}


{% block head %}
<title>Charity Checker</title>
{% endblock %}


{% block body %}
<div class='content'>

  <header>
    <img src="https://cdn.pixabay.com/photo/2017/02/01/10/59/bag-2029642__340.png"
        style="float: center; margin-right: 0px; margin-bottom: 0px;"/>
    <h1>Charity Checker</h1>
    <p>By Evan Torres<p>
  <nav>
    <div class='form'>
      <form action="/", method="POST">
        <ul>
          <li>Name of Organization: <input type="text" name="content" id="content" autocomplete="off" /></li>
          <li> </li>
          <li><input type="submit", value="Submit" /></li>
        </ul>
      </form>
      </div>
  </nav>
  </header>

  <div id="org-data">
    <div class="data-section">
      <h2>{{ credsToI }}</h2>
        <p>{{ badOrgNotice }}  {{ goodOrgNotice }}</p>
        <p>{{ meaning }}</p>
        <p>{{ badExplain }}  {{ goodExplain }}</p>
        <p><a href="https://www.irs.gov/charities-non-profits/charitable-organizations/exemption-requirements-501c3-organizations" target="_blank">{{ readFiveOh }}</a></p>
        <p><a href="{{ goodIrsInfoUrl }}" target="_blank">{{ goodReadData }}</a></p>
      <div class="clear"></div>
    </div>

    <div class="data-section">
      <h2>{{ credsToII }}</h2>
        <p>{{ overallRating1 }} {{ noRatingsYetII }}  {{ notEnoughInfoII }}</p>
        <p>{{ financialRating1 }} <a href="{{ badCharNavUrl }}" target="_blank">{{ badCharNavUrlClickMe }}</a></p>
        <p>{{ antRating1 }}</p>
        <p>{{ programExpenses1 }}</p>
        <p>{{ adminExpenses1 }}</p>
        <p>{{ fundraisingExpenses1 }}</p>
        <p><a href="{{ goodCharNavUrl }}" target="_blank">{{ goodCharNavUrlClickMe }}</a></p>
      <div class="clear"></div>
    </div>

    <div class="data-section">
      <h2>{{ newsOffer }} {{ noNews }}</h2>
        <p><a href="{{ newsLinkA }}" target="_blank">{{ newsTitleA }}</a></p>
        <p><a href="{{ newsLinkB }}" target="_blank">{{ newsTitleB }}</a></p>
        <p><a href="{{ newsLinkC }}" target="_blank">{{ newsTitleC }}</a></p>
        <p><a href="{{ news01 }}" target="_blank">{{ newsMore }}</a></p>
      <div class="clear"></div>
    </div>

    <div class="rating-section">
      <h2>{{ c1Rating }} {{ c2Rating }} {{ c3Rating }} {{ c4Rating }}{{ c5Rating }} {{ c6Rating }}</h2>
      <div class="clear"></div>
    </div>

  </div>



  <!--<img src="https://cdn.pixabay.com/photo/2017/02/01/10/59/bag-2029642__340.png"
      style="float: center; margin-right: 0px; margin-bottom: 0px;"/>-->

</div>
{% endblock %}
